div{
  align-items: center;
  display: flex;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  gap: 10%;
  margin-bottom: 3%;
}

#buttons{
  display: flex;
}

img{
  height: 20%;
  width: 20%;
  margin: auto;
}
h1 {
  margin-bottom: 100px;
  color: brown;
  padding-inline: 35%;
  text-align: center;
}

#messageZone{
  text-align: center;
  margin: auto;
  width: 3
}